/*My name in the navbar*/
.name2{
    text-align:center;
    font-size:38px;
    background-color: #4aaaa5;
    color: #ffffff;
    padding:4px;
}
/*Name and clickable pages "contact, portfolio, about"*/
ul{
    list-style-type: none;
    overflow:hidden;
    padding-top: 50px;
}
li{
    float:right;
    display:inline;
}
li a{

    display:block;
    color:#777777;
    text-decoration:none;
    padding: 14px 16px;
    line-height: 50px;
}

li a:hover{
    background-color: #4aaaa5;
}

/*nav bar only no header*/
.navBar{
    margin-left:440px;
    margin-right:480px;
}
/*header including navbar*/
.header{
    background-color:#ffffff;
}
a{
    display: block;
    padding: 8px;
    background-color: #ffffff;
}
.main{
    background-color: #ffffff;
    margin-left: 480px;
    margin-right: 480px;
}
body{
    background-image: url("../images/oriental.png");
}
img{
    float:left;
    height: 200px;
    width: 200px;
    padding: 25px;
}
.aboutsummary{
    margin-left:20px;
    color: #777777;
    
}
h2{
    text-align:left;
    color: #4aaaa5;
    padding: 25px;
}