.navBar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    margin-left:480px;
    margin-right:480px;
}
a{
    list-style-type: none;
    display:block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li{
    float: right;
    border-right: 1px solid wheat;
}
li a:hover{
    background-color: gainsboro;
}
.isActive{
    background-color:green;
}
h1{
    background-color:cyan;
    margin-left:480px;
    margin-right:480px;
}
.main{
    background-color: #FFFFFf;
    margin-left: 480px;
    margin-right: 480px;
}
body{
    background-image: url("../images/oriental.png");
}
img{
    float:left;
    height: 200px;
    width: 200px;
    padding: 25px;
}
.aboutsummary{
    margin-left:20px;
    
}
h2{
    text-align:left;
    color: #4aaaa5;
    padding: 25px;
}